*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    outline: 0;
    text-decoration: none;
    
}
.section{
    width: 100%;
    height: 100%;
}
.fas{
    font-size: 20px;
}
/*---------------------------GERAL-------------------------------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
    color: rgb(230, 27, 27);
    background-color: rgb(255, 255, 255);
    border-bottom: black 0.5px solid;
    
}
header a{
    color: rgb(230, 27, 27);
}
.primeiro-menu-input{
    width: 100%;
}
.fa-search{
    color: grey;
    font-size: 24px;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    font-size: 17px;
    margin-left: 15px;
}
.logo h1{
    font-weight: 600;
}
.search{
    display: flex;
    gap: 15px;
    width: 100%;
}
.search>input{
    width: 110px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    border: none;
}
.search>input:focus{
    
   border-bottom: rgb(51, 46, 46) 1px solid;
}
nav .fas{
 font-size: 15px;
}
.destino{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.destino>nav>ul{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    color: white;
}

.destino>nav>ul>li{
    background-color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 110%;
    color: white;
}
.primeiro-menu{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;   
    color: rgb(0, 0, 0);                 
}
.primeiro-menu>h1{
    font-weight: 400;
}
.primeiro-menu label{
    position: absolute;
    top: 29px;
    left: 10px;
    font-size: 15px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    cursor: text;
}
.from{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    font-weight: 300;
}
.from>input{
    width: 100%;
    font-size: 15px;
    border-radius: 0%;
    border: rgb(189, 180, 180) solid 1px;
    padding: 10px 0px 10px 5px;
}
.primeiro-menu input:focus ~label,
.primeiro-menu input:not(placeholder-shown).primeiro-menu:not(:focus) ~label{
    z-index: -1;
}

.to{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: 300;
    width: 100%;
}
.to>input{
    width: 100%;
    font-size: 15px;
    border-radius: 0%;
    border: rgb(189, 180, 180) solid 1px;
    padding: 10px 0px 10px 5px;
}
.search-button{
    background-color: rgb(92, 87, 87);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    padding: 9px;
    cursor: pointer;
}
.search-button:hover{
    background-color: rgb(26, 23, 23);
}

.destino>nav>ul>li:hover{
    cursor: pointer;
    background-color: rgb(238, 32, 32);

}

/*------------------------------*-------------------------------------*/

section:nth-of-type(2){
    background-color: rgb(240, 238, 238);
    padding: 20px;
}
section:nth-of-type(2) h1{
   margin-bottom: 15px;
   font-weight: 400;
}
section:nth-of-type(2) p{
    margin-bottom: 15px;
    font-weight: 400;
}
.imagens{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.imagens label{
    position: absolute;
    color: aliceblue;
    bottom: 10px;
    left: 15px;
    font-size: 19px;

}
.imagens div{
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.2em rgb(0, 0, 0);
    width: 100%;
    height: 200px;
}
.imagens img{
   width: 100%;
}
/*------------------------------------ explore---------------*/

section:nth-of-type(3){
    padding: 20px;
    background-color: rgb(240, 238, 238);
}

.text{
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.text:nth-of-type(1){
  padding: 0;
}
.text:nth-of-type(1) p{
    font-size: 14px;
  }
.text h2{
    font-weight: 400;
}
.text span{
    font-weight: 200;
    font-size: 15px;
}
.text p{
    font-weight: 400;
    font-size: 15px;
}
.text span:nth-of-type(2){
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
    margin: 12px;
}
.norway,
.ocean{
    background-color: rgb(255, 255, 255);
    margin-top: 15px; 
}
.imagem-card{
    max-width: 100%;
    max-height: 100%;
}
.imagem-card img{
    max-width: 100%;
}

/*-----------------------------------email-----------------*/

section:nth-of-type(4){
    padding: 15px;
    background-color: rgb(240, 238, 238);
}

.container-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 94, 94);
    color: rgb(255, 255, 255);
    max-width: 100%;
    padding: 15px;
    gap: 17px;
}
.container-info h2{
    font-size: 25px; 
    font-weight: 400; 
    margin-top: 15px; 
    margin-bottom: 3px;
}
.email{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.email input{
    position: relative;
    width: 100%;
    font-size: 15px;
    border-radius: 0%;
    border: rgb(189, 180, 180) solid 1px;
    padding: 10px 0px 10px 5px;
}
.email>label{
    cursor: text;
    position: relative;
    color: rgba(0, 0, 0, 0.459);
    bottom: 30px;
    left: 10px;
}
.email input:focus ~label{
    z-index: -1;
}
.email button{
    color: rgb(255, 255, 255);
    background-color: rgb(226, 122, 122);
    font-size: 18px;
    border: none;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.email button:hover{
    transform: scale(1.03);
    background-color: rgb(238, 87, 61);
}


/*---------------------------------------contact--------------------------------*/
section:nth-of-type(5){
    padding: 20px;
    background-color: rgb(240, 238, 238);
}
.contact-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-text h2{
   font-size: 30px;
   font-weight: 500;
}
.contact-text ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.contact-text .fas{
    margin-right: 17px;
    font-size: 15px;
}
.contact{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}
.inputs-contact{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.input-contact{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.input-contact input{
   position: relative;
    width: 100%;
    font-size: 15px;
    border-radius: 0%;
    border: rgb(189, 180, 180) solid 1px;
    padding: 15px 0px 15px 10px;
}
.input-contact input:focus ~label{
    z-index: -1;
 }

.inputs-contact label{
    position: absolute;
    bottom: 15px;
    left: 10px;
    cursor: text;
    opacity: 0.7;
}

.contact button{
    border: none;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px;
    width: 155px;
}
.contact button:hover{
    background-color: rgb(29, 25, 25);
    cursor: pointer;
}


footer{
    padding: 20px;
    background-color: rgb(240, 238, 238);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
footer p{
    font-weight: 400;
    color: rgb(165, 161, 161);
}
footer span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(165, 161, 161);
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
 .footer i{
    font-size: 19px;
    color: rgb(102, 98, 98);
 }

 /*----------------------------------------Responsive---------------------*/

 @media (min-width: 450px){

    .imagens div{
        height: 350px;
    }

    .search{
        align-items: flex-end;
        justify-content: end;
        margin-right: 2%;
    }

}

@media (min-width: 768px){

    section:nth-of-type(1){
        background-image: url("../img/london.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 100px 50px 100px;
    }
    .destino{
        max-width: 100%;
    }
    
    .primeiro-menu{
        background-color: rgb(255, 255, 255);
        max-width: 100%;
    }
    .primeiro-menu-input{
        display: flex;
        max-width: 100%;
        gap: 25px;
        margin-bottom: 15px;
        position: relative;
    }

    .to{
        position: relative;
        top: 15px;
    }

    .explore-card{
        display: flex;
        gap: 15px;
    }

    .imagens{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
    }
    .imagens div{
        width: 100%;
        height: 100%;
    }
    .imagem-cinque-terre{
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        width: 120px;
    }
}

@media (min-width: 1366px) {
    section:nth-of-type(2),
    section:nth-of-type(3),
    section:nth-of-type(4),
    section:nth-of-type(5){
        padding-left: 200px;
        padding-right: 200px;
    }
    section:nth-of-type(1){
        padding: 250px;
    }

    .imagens img:hover{
        cursor: pointer;
        transform: scale(1.25);
        transition: 0.5s;
    }

}


